<% if logged_in? %>
  <div class="row">

    <aside class="col-md-4">
      <div class="new-review-form">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      </div>
    </aside>
    <div class="col-md-8">
      <h3>Reviews Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>
  <%else%>
    <div class="center jumbotron">
      
    <div class="welcome">
    <div class="image"><%=image_tag("video.png", alt: "Video logo", class: "logo")
              %> </div>
       <h1>Welcome to the MovieShare</h1>
    </div>
  

    <h2>
      Sign up below to share your movie reviews of your favourtie films with like minded people!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

              
  <%end%>