    <% provide(:title, @user.name) %>

      <div class="row">

        <aside class="col-md-4">
        <div class="new-review-form">
          <section class="user_info">
            <h1>
              <%= gravatar_for @user %>
              <%= @user.name %>
            </h1>
          </section>
            <section class="stats">
          <%= render 'shared/stats' %>
            </section>
            <%= render 'follow_form' if logged_in? %>
          </div>
        </aside>

          <div class="col-md-8">
          
          <% if @user.reviews.any? %>
            <ol class="reviews">
              <%= render @reviews %>
            </ol>
            <%= will_paginate @reviews %>
          <% end %>
        </div>
      </div>
  
     
    